# Node and Composer dependencies
node_modules/
vendor/

# Build and output directories
build/
assets/js/blocks/

# Distribution files
*.zip

# Dependency lock files
package-lock.json
composer.lock
bun.lockb

# System and editor-specific files
*DS_Store
/.vscode
composer.phar

# Temporary and cache files
*cache

# Exclude specific WordPress content or cache directories
wp-content/uploads/
wp-content/cache/

# Exclude development-specific directories
/develop
/.dev

# Keep tests in version control (if desired)
# /tests
/tests
