/* Core Image Block: Duotone Hover Style
--------------------------------------------- */
.wp-block-image.is-style-image-grayscale-hover {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.wp-block-image.is-style-image-grayscale-hover img {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.wp-block-image.is-style-image-grayscale-hover:hover img {
  filter: grayscale(0%);
}