/* Core Button: Light Slider Shadow Style
--------------------------------------------- */
.wp-block-button.is-style-light-slider-shadow .wp-block-button__link {
    outline: none;
    border: 2px solid var(--wp--preset--color--foreground);
    background: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground);
    box-shadow: var(--wp--preset--color--background) 0 8px 20px -10px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}
.wp-block-button.is-style-light-slider-shadow .wp-block-button__link:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: var(--wp--preset--color--foreground);
    transition: all 0.3s ease;
}
.wp-block-button.is-style-light-slider-shadow .wp-block-button__link:hover {
    color: var(--wp--preset--color--background);
}
.wp-block-button.is-style-light-slider-shadow .wp-block-button__link:hover:after {
    left: 0;
    width: 100%;
}