/* Core Image Block: Flip Hover Style
--------------------------------------------- */
.wp-block-image.is-style-flip-hover {
  perspective: 1000px; /* Add perspective to the parent element */
  display: inline-block;
}

.wp-block-image.is-style-flip-hover img {
  display: block;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.wp-block-image.is-style-flip-hover:hover img {
  transform: rotateY(180deg);
}