/* Core Button Block: Sliding Underline Style.
--------------------------------------------- */
.wp-block-button.is-style-sliding-underline .wp-block-button__link {
	outline: none;
	border: none;
	background: var(--wp--preset--color--background);
	color: var(--wp--preset--color--foreground);
	position: relative;
	overflow: hidden;
	transition: color 0.3s ease;
}

.wp-block-button.is-style-sliding-underline .wp-block-button__link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: -100%;
	background: var(--wp--preset--color--foreground);
	transition: left 0.3s ease;
}

.wp-block-button.is-style-sliding-underline .wp-block-button__link:hover:before {
	left: 0;
}

.wp-block-button.is-style-sliding-underline .wp-block-button__link:hover {
	color: var(--wp--preset--color--foreground);
}
