/* Core Image Block: Rotate Hover Style
--------------------------------------------- */
.wp-block-image.is-style-rotate-hover img {
  display: block; /* Ensure the image behaves as a block-level element */
  transition: transform 0.5s ease;
}

.wp-block-image.is-style-rotate-hover:hover img {
  transform: rotate(15deg);
}