/* Core Image Block: Split Reveal Style
--------------------------------------------- */
.wp-block-image.is-style-image-split-reveal {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.wp-block-image.is-style-image-split-reveal img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.wp-block-image.is-style-image-split-reveal::before,
.wp-block-image.is-style-image-split-reveal::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  transition: transform 0.5s ease;
}

.wp-block-image.is-style-image-split-reveal::before {
  left: 0;
  transform: translateX(0);
}

.wp-block-image.is-style-image-split-reveal::after {
  right: 0;
  transform: translateX(0);
}

.wp-block-image.is-style-image-split-reveal:hover::before {
  transform: translateX(-100%);
}

.wp-block-image.is-style-image-split-reveal:hover::after {
  transform: translateX(100%);
}