/* Core Image Block: Reveal on Hover Style
--------------------------------------------- */
.wp-block-image.is-style-image-reveal-hover {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.wp-block-image.is-style-image-reveal-hover img {
  filter: blur(5px);
  transition: filter 0.5s ease;
}
.wp-block-image.is-style-image-reveal-hover:hover img {
  filter: blur(0);
}
