/* Core Button Block: Dark Line Style
--------------------------------------------- */
.wp-block-button.is-style-dark-line .wp-block-button__link {
    background: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground);
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: 0 -9px var(--wp--preset--color--background) inset, 0 4px 8px rgba(66, 44, 35, 0.3);
    position: relative;
}
.wp-block-button.is-style-dark-line .wp-block-button__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(66, 44, 35, 0.3);
    transition: all 0.3s ease;
    z-index: -1;
}
.wp-block-button.is-style-dark-line .wp-block-button__link:hover {
    color: var(--wp--preset--color--foreground)!important;
    background: var(--wp--preset--color--background);
    border-bottom: 4px solid var(--wp--preset--color--foreground);
    box-shadow: 0 -50px 0 0 var(--wp--preset--color--background) inset, 0 8px 16px rgba(66, 44, 35, 0.4);
    transform: translateY(-2px);
}
.wp-block-button.is-style-dark-line .wp-block-button__link:hover:before {
    box-shadow: 0 8px 16px rgba(66, 44, 35, 0.4);
    transform: translateY(-2px);
}