/* Core Image Block: Ease Out Style
--------------------------------------------- */
.wp-block-image.is-style-ease-out {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.wp-block-image.is-style-ease-out:hover {
	transform: scale(.95);
}