/* Core Image Block: Shine Hover Style
--------------------------------------------- */
.wp-block-image.is-style-image-shine-hover {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.wp-block-image.is-style-image-shine-hover::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.wp-block-image.is-style-image-shine-hover:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

/* Add keyframes for the shine effect */
@-webkit-keyframes shine {
  from {
    left: -75%;
  }
  to {
    left: 125%;
  }
}
@keyframes shine {
  from {
    left: -75%;
  }
  to {
    left: 125%;
  }
}