/* Core Image Block: Hexagon Shape Style
--------------------------------------------- */
.wp-block-image.is-style-hexagon-shape {
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    -webkit-clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    overflow: hidden;
}