/* Core Image Block: Ease In Out Style
--------------------------------------------- */
.wp-block-image.is-style-image-ease-out {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.wp-block-image.is-style-image-ease-out:hover {
	transform: scale(.95);
}