/* Core Button Block: Gradient Swipe Style
--------------------------------------------- */
.wp-block-button.is-style-gradient-swipe .wp-block-button__link {
	color: var(--wp--preset--color--foreground) !important;
	outline: none;
	border: 2px solid var(--wp--preset--color--foreground);
	background: linear-gradient(45deg, var(--wp--preset--color--foreground), var(--wp--preset--color--foreground));
	color: var(--wp--preset--color--background);
	transition: all 0.4s ease;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.wp-block-button.is-style-gradient-swipe .wp-block-button__link:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, var(--wp--preset--color--foreground), var(--wp--preset--color--foreground));
	transition: left 0.4s ease;
	z-index: -1;
}

.wp-block-button.is-style-gradient-swipe .wp-block-button__link:hover:before {
	left: 0;
}

.wp-block-button.is-style-gradient-swipe .wp-block-button__link:hover {
	color: var(--wp--preset--color--background) !important;
}