/* Core Image Block: Ease Out Style
--------------------------------------------- */
.wp-block-image.is-style-ease-out {
	/* Positioning */
	position: relative;
	display: inline-block;
	
	/* Visual */
	overflow: hidden;
	
	/* Animation */
	transition: all 0.3s ease-in-out;
}

.wp-block-image.is-style-ease-out img {
	/* Box model */
	display: block;
	width: 100%;
	
	/* Animation */
	transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.wp-block-image.is-style-ease-out:hover img {
	/* Animation on hover */
	transform: scale(0.95);
	filter: brightness(0.95);
}
