/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
    - Normalize
    - Box sizing
# Base
    - Typography
    - Elements
    - Links
    - Forms
# Layouts
# Components
    - Header
    - Navigation
    - Page Header
    - Posts
    - Comments
    - Widgets
    - Media
    - Captions
    - Galleries
    - Footer
    - Scroll Up Button
    - Error 404
    - Content None
# Utilities
    - Accessibility
    - Alignments
# Responsive
--------------------------------------------------------------*/
:root {
	--ae-main: #505762;
	--ae-main-hover: #626a78;
	--ae-main-border: #eaeaea;
	--ae-light: #fff;
}

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, address, hr, h1, h2, h3, h4, h5, h6 {
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	margin: 0;
	overflow-x: hidden;
}

main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
	border-radius: 2px;
	background-color: rgba(239, 239, 239, 0.5);
	color: #5685a9;
	padding: 3px 6px;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

.ae-icon {
	display: inline-flex;
	align-self: center;
}
.ae-icon svg {
	top: 0.125em;
	position: relative;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	outline: none;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #777;
	font-size: 14px;
	line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	color: #333;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 20px;
	line-height: 1.2em;
}

p {
	margin-bottom: 1.5em;
}

.page-content > :last-child,
.entry-content > :last-child,
.entry-summary > :last-child {
	margin-bottom: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
.wp-block-quote {
	border-left-width: 5px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
	margin: 1.5em 1em 1.5em 3em;
	padding: 1.2em;
	font-size: 1.1em;
	font-style: italic;
	line-height: inherit;
	position: relative;
}

blockquote p:last-child,
.wp-block-quote p:last-child {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background-color: #f9f9f9;
}

pre code {
	padding: 0;
	background: transparent;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: var(--ae-light);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 2em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: var(--ae-main);
	box-shadow: none;
	text-decoration: none;
	outline: none;
}

a,
button,
input {
	transition: 0.3s;
}

a:hover {
	color: #333;
}

a:focus {
	outline: thin dotted;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit],
.wp-block-button__link {
	display: inline-block;
	min-height: 48px;
	min-width: 185px;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	background-color: var(--ae-main);
	color: var(--ae-light);
	border-radius: 2px;
	padding: 14px 25px;
	border: 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
	transition: all 300ms ease-in-out;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.wp-block-button__link:hover {
	background-color: var(--ae-main-hover);
}

.tribe-common button {
	min-height: auto;
	min-width: auto;
	box-shadow: none;
	text-transform: none;
	letter-spacing: 0;
}

.wp-block-button__link {
	min-height: auto;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
	display: block;
	width: 100%;
	background-color: var(--ae-light);
	border-radius: 2px;
	color: #333;
	font-size: 15px;
	border: 2px solid var(--ae-main-border);
	padding: 0.8em;
	height: 44px;
	line-height: 1.3;
	outline: none;
	transition: all 0.2s ease-in-out 0s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
	border-color: var(--ae-main);
}

select {
	border: 1px solid var(--ae-main-border);
	padding: 0.5em;
}

textarea {
	width: 100%;
	height: auto;
}

.aeon-search-form {
	position: relative;
}
.aeon-search-form input[type=search] {
	padding-right: 40px;
}
.aeon-search-form button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1em;
	height: 100%;
	min-height: auto;
	min-width: 40px;
	background: none;
	color: #999;
	padding: 0;
	box-shadow: none;
}
.aeon-search-form button:hover {
	background: none;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.container {
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 20px;
}

body.full-width .site-content {
	padding: 0;
}
body.full-width .site-content.container {
	max-width: 100%;
	padding: 0;
}

.site-content {
	display: flex;
	padding: 40px 20px;
	word-wrap: break-word;
}
.site-content .content-area {
	width: 70%;
}
.site-content .widget-area {
	width: 30%;
}

body.full-width .site-content .content-area,
body.no-sidebar .site-content .content-area,
body.elementor-template-full-width .elementor {
	width: 100%;
}

.no-sidebar .entry-content .alignfull {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	max-width: 100vw;
	width: auto;
}

.entry-content .alignwide,
body:not(.no-sidebar) .entry-content .alignfull {
	margin-left: -40px;
	width: calc(100% + 80px);
	max-width: calc(100% + 80px);
}

.right-sidebar .site-main {
	margin-right: 40px;
}

.left-sidebar .site-main {
	margin-left: 40px;
}

.left-sidebar .site-content .widget-area {
	order: -10;
}

.sidebar .widget {
	margin-bottom: 20px;
}
.sidebar .widget:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Header
--------------------------------------------- */
.site-header {
	position: relative;
	background-color: var(--ae-light);
}
.site-header .site-header-inner {
	display: flex;
	align-items: center;
	padding: 20px;
}

.site-branding {
	display: inline-flex;
	align-items: center;
	text-align: left;
	flex: 1 1 0;
}

a.site-logo-text {
	font-size: 30px;
}

.skip-link {
	background-color: #f1f1f1;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: 700;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
}

/* Navigation
--------------------------------------------- */
#site-navigation {
	z-index: 100;
	padding: 0;
	clear: both;
	display: block;
}

.main-navigation .menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.main-navigation .menu li a {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 60px;
}
.main-navigation .menu ul li a {
	line-height: normal;
	padding: 12px 20px;
	font-size: 14px;
}
.main-navigation .menu ul li a:hover {
	background-color: #fafafa;
}
.main-navigation .menu .menu-item-has-children > a {
	display: flex;
	align-items: center;
}
.main-navigation .menu .dropdown-menu-toggle {
	font-size: 10px;
	padding-left: 10px;
	margin-left: auto;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	font-weight: 400;
	text-transform: none;
	font-size: 15px;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation ul ul {
	display: block;
	background-color: var(--ae-light);
	border-top: 1px solid #222;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: -99999px;
	opacity: 0;
	z-index: 99999;
	width: 200px;
	text-align: left;
	top: auto;
	transition: opacity 80ms linear;
	transition-delay: 0s;
	pointer-events: none;
	height: 0;
	overflow: hidden;
}
.main-navigation:not(.toggled) ul li:hover > ul {
	left: auto;
	opacity: 1;
	transition-delay: 150ms;
	pointer-events: auto;
	height: auto;
	overflow: visible;
}
.main-navigation:not(.toggled) ul li:hover > ul li:hover > ul {
	left: 100%;
	top: 0;
}
.main-navigation li {
	position: relative;
}

/* Small menu. */
.main-navigation.toggled .main-nav {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
}
.main-navigation.toggled ul.menu {
	display: block;
	background-color: #f9f9f9;
}

.menu-toggle {
	display: none;
	padding: 0;
	line-height: 60px;
	margin: 0;
	font-weight: 400;
	text-transform: none;
	font-size: 15px;
	cursor: pointer;
}
.menu-toggle .mobile-menu {
	padding-left: 8px;
}

.main-navigation.toggled .menu-item-has-children a {
	padding-right: 0;
}
.main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle {
	height: 100%;
	clear: both;
	padding: 0 20px;
}
.main-navigation.toggled .sfHover > a > .dropdown-menu-toggle .ae-icon svg {
	transform: rotate(180deg);
}
.main-navigation.toggled .icon-arrow-right svg {
	transform: rotate(90deg);
}
.main-navigation.toggled .sfHover > a > .dropdown-menu-toggle .ae-icon.icon-arrow-right svg {
	transform: rotate(270deg);
}
.main-navigation.toggled ul ul.sub-open {
	position: relative;
	top: 0;
	left: auto;
	right: auto;
	width: 100%;
	pointer-events: auto;
	height: auto;
	opacity: 1;
	display: block;
	visibility: visible;
	float: none;
	background-color: rgba(0, 0, 0, 0.05);
	border-top: 0;
	box-shadow: none;
}
.main-navigation.toggled ul ul a {
	width: 100%;
}
.main-navigation.toggled ul ul a:hover {
	background: none;
}

button.menu-toggle {
	display: none;
	align-items: center;
	padding: 0.5em;
	font-size: 14px;
	line-height: 1.8;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	min-width: auto;
	min-height: auto;
}
button.menu-toggle .mobile-menu-wrap {
	display: flex;
	align-items: center;
}
button.menu-toggle .mobile-menu-wrap .mobile-menu {
	line-height: 1;
}
button.menu-toggle .ae-icon {
	font-size: 20px;
}
button.menu-toggle .ae-icon svg {
	top: 0;
}

button.menu-toggle,
button.menu-toggle:hover {
	background-color: transparent;
	color: #333;
}

.icon-menu-bars svg:nth-child(2),
.toggled .icon-menu-bars svg:nth-child(1) {
	display: none;
}

.toggled .icon-menu-bars svg:nth-child(2) {
	display: block;
}

/* Page Header
--------------------------------------------- */
.aeon-page-header {
	position: relative;
	background-color: #f5f5f5;
	padding: 34px 0;
}
.aeon-page-header.has-breadcrumb .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.aeon-page-header-title {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	text-align: center;
	margin: 0;
}

/* Breadcrumbs */
.aeon-breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.aeon-breadcrumbs ul li {
	display: inline-block;
}
.aeon-breadcrumbs ul li .separator {
	padding: 0 5px;
}
.aeon-breadcrumbs p {
	margin: 0;
}

/* Author page */
.aeon-author-header {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}
.aeon-author-header .aeon-author-name img {
	border-radius: 100%;
	margin-bottom: 10px;
}
.aeon-author-header .aeon-author-description {
	margin-top: 20px;
}
.aeon-author-header ul.aeon-author-meta {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 20px 0 0;
}
.aeon-author-header ul.aeon-author-meta li:not(:last-child) {
	margin-right: 10px;
}
.aeon-author-header ul.aeon-author-meta li:not(:last-child):after {
	content: "/";
	position: relative;
	top: -0.1em;
	margin-left: 10px;
}

/* Posts
--------------------------------------------- */
article.post {
	border-bottom: 1px solid var(--ae-main-border);
	padding: 4em 0;
}
article.post:first-child {
	padding-top: 0;
}
article.post:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.post-thumbnail {
	display: block;
	margin-bottom: 1.5em;
}
.post-thumbnail img {
	width: 100%;
}

.entry-header {
	margin-bottom: 1em;
}
.entry-header .entry-title {
	margin: 0 0 6px;
}

.entry-meta ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	margin: 0;
}
.entry-meta ul li {
	margin-right: 10px;
}
.entry-meta ul li:last-child {
	margin-right: 0;
}
.entry-meta ul li .ae-icon {
	color: var(--ae-main);
	margin-right: 6px;
}

.read-more-link {
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-bottom: 2px solid;
}

.paging-navigation {
	padding-top: 4em;
}
.paging-navigation .nav-links > * {
	padding: 0 5px;
}
.paging-navigation .nav-links .current {
	font-weight: bold;
}

.nav-links > *:first-child {
	padding-left: 0;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.tags-links .ae-icon {
	margin-right: 0.6em;
	opacity: 0.7;
}

.post-navigation {
	margin: 0;
	padding: 4em 0;
	border-bottom: 1px solid #eaeaea;
}
.post-navigation .nav-links {
	display: flex;
}
.post-navigation .nav-previous,
.post-navigation .nav-next {
	flex: auto;
	width: 50%;
	display: inline-block;
}
.post-navigation a {
	display: inline-block;
	font-size: 0.9rem;
	padding: 0 1.5em;
	line-height: 2em;
}
.post-navigation .nav-previous {
	text-align: left;
}
.post-navigation .nav-previous .ae-icon {
	padding-right: 6px;
}
.post-navigation .nav-next {
	text-align: right;
}
.post-navigation .nav-next .ae-icon {
	padding-left: 6px;
}

.page-links {
	clear: both;
}

.single-post .entry-content a,
.comment-content a:not(.comment-links a) {
	text-decoration: underline;
}

/* Comments
--------------------------------------------- */
.comment-respond {
	margin-top: 4em;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area ol {
	list-style: none;
}

ol.comment-list {
	margin: 0;
	word-wrap: break-word;
}
ol.comment-list li.depth-1 {
	padding: 4em 0;
	border-bottom: 1px solid var(--ae-main-border);
}
ol.comment-list li.depth-1:first-child {
	padding-top: 0;
}
ol.comment-list li.depth-1:last-child {
	border-bottom: 0;
}
ol.comment-list .comment-body {
	padding: 1em 0;
}
ol.comment-list .comment-info {
	display: flex;
	align-items: center;
	position: relative;
	padding-bottom: 1.5em;
}
ol.comment-list .comment-info img {
	border-radius: 50%;
}
ol.comment-list .comment-meta {
	line-height: 1.6;
	color: #333;
	font-size: 0.8rem;
	padding: 0 1.6em;
	text-transform: uppercase;
}
ol.comment-list .comment-links {
	display: flex;
	justify-content: flex-end;
}
ol.comment-list .comment-links .edit-link {
	flex: 1;
}

.comments-area {
	padding: 4em 0;
}
.comments-area .comment-reply-title {
	margin-bottom: 5px;
}
.comments-area .ae-row {
	margin: 0 -6px;
}
.comments-area .ae-row .ae-col {
	position: relative;
	padding: 0 6px;
}
.comments-area .aeon-comment-wrap {
	display: flex;
}
.comments-area fieldset.comment-form-comment {
	padding: 0;
	margin-bottom: 1.5em;
}
.comments-area textarea {
	height: auto;
}
.comments-area #wp-comment-cookies-consent {
	margin-right: 6px;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}
.widget h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.widget select {
	max-width: 100%;
}
.widget ul.wp-block-archives,
.widget ul.wp-block-categories {
	margin-left: 20px;
}
.widget ul.wp-block-latest-posts.wp-block-latest-posts__list {
	margin-left: 0;
}
.widget .wp-block-woocommerce-product-search div {
	position: relative;
}
.widget .wp-block-woocommerce-product-search div button {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	min-width: 26px;
	min-height: 26px;
	padding: 0;
	margin: 0;
	border-radius: 100%;
}
.widget .wp-block-search .wp-block-search__button {
	min-width: auto;
	min-height: auto;
}

.widget-area .widget {
	padding: 40px;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*=wp-image-] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/* Footer
--------------------------------------------- */
.site-footer #footer-widgets {
	background-color: #f9f9f9;
}
.site-footer .footer-widgets {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding: 40px 0;
}
.site-footer .footer-widgets .footer-col {
	margin: 0 15px;
}
.site-footer .footer-widgets.footer-col-1 .footer-col {
	width: 100%;
}
.site-footer .footer-widgets.footer-col-2 .footer-col {
	width: calc(50% - 30px);
}
.site-footer .footer-widgets.footer-col-3 .footer-col {
	width: calc(33.3333333333% - 30px);
}
.site-footer .footer-widgets.footer-col-4 .footer-col {
	width: calc(25% - 30px);
}
.site-footer .footer-widgets.footer-col-5 .footer-col {
	width: calc(20% - 30px);
}
.site-footer .footer-widgets.footer-col-6 .footer-col {
	width: calc(16.6666666667% - 30px);
}
.site-footer .copyright-bar {
	background-color: #ececec;
	text-align: center;
	padding: 10px 0;
}
.site-footer .copyright-bar p {
	margin: 0;
}

/* Scroll Up Button
--------------------------------------------- */
.ae-scroll-up {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 40px;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
	color: var(--ae-light);
	font-size: 14px;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	z-index: 100;
}
.ae-scroll-up:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--ae-light);
}

/* Error 404
--------------------------------------------- */
.error404 .site-main {
	text-align: center;
}
.error404 .site-main .icon-error {
	font-size: 20rem;
}
.error404 .site-main .icon-error svg {
	top: 0;
}
.error404 .site-main h1 {
	margin-bottom: 10px;
}
.error404 .site-main form {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 0 auto;
}
.error404 .site-main form label {
	flex: 1;
}
.error404 .site-main form .search-submit {
	margin-left: 10px;
	min-height: auto;
}

/* Content None
--------------------------------------------- */
.no-results h1 {
	margin-bottom: 10px;
}
.no-results form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.no-results form label {
	flex: 1;
}
.no-results form .search-submit {
	margin-left: 10px;
	min-height: auto;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/* Breakpoint (1080px) */
@media (max-width: 1080px) {
	/* Widgets */
	.widget-area .widget {
		padding: 30px;
	}
}
/* Breakpoint (960px) */
@media (max-width: 960px) {
	/* Content Area */
	.site-content {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	.site-content .content-area,
.site-content .widget-area {
		width: auto;
	}

	.entry-content .alignwide, body:not(.no-sidebar) .entry-content .alignfull {
		margin-left: -20px;
		width: calc(100% + 40px);
		max-width: calc(100% + 40px);
	}

	.left-sidebar .site-content .widget-area {
		order: initial;
	}

	.left-sidebar .site-main,
.right-sidebar .site-main {
		margin: 0;
	}

	/* Page header */
	.aeon-page-header.has-breadcrumb .container {
		display: block;
		text-align: center;
	}
	.aeon-page-header.has-breadcrumb .aeon-page-header-title {
		margin-bottom: 10px;
	}

	/* Widgets */
	.widget-area .widget {
		padding-left: 0;
		padding-right: 0;
	}

	/* Footer */
	.site-footer .footer-widgets.footer-col-3 .footer-col, .site-footer .footer-widgets.footer-col-4 .footer-col, .site-footer .footer-widgets.footer-col-5 .footer-col, .site-footer .footer-widgets.footer-col-6 .footer-col {
		width: calc(50% - 30px);
		margin-bottom: 30px;
	}
}
/* Breakpoint (768px) */
@media (max-width: 768px) {
	/* Comments */
	.comments-area .aeon-comment-wrap {
		flex-direction: column;
	}

	/* Footer */
	body .site-footer #footer-widgets .footer-widgets {
		margin: 0;
	}
	body .site-footer #footer-widgets .footer-widgets .footer-col {
		width: 100%;
	}
}
/* Breakpoint (690px) */
@media (max-width: 690px) {
	.aeon-author-header .aeon-author-description {
		display: none;
	}
}