.ae-notice {
	position: relative;
	display: flex;
	align-items: center;
    border: 0;
    padding: 0;
	padding-left: 50px;
}

.ae-notice .ae-notice-icon {
	position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 100%;
    font-size: 20px;
    background-color: #67707e;
}

.ae-notice.ae-review-notice .ae-notice-icon {
    background-color: #fec107;
}

.ae-notice.ae-contest-notice .ae-notice-icon {
    background-color: #ff3d49;
}

.ae-notice svg {
	width: 1em;
	height: 1em;
	fill: #fff;
}

.ae-notice .ae-notice-content {
	padding: 5px 10px;
}

.ae-notice .ae-notice-content p {
	margin: 0;
}

.ae-notice .ae-notice-content a {
    display: inline-block;
    background-color: #67707e;
    color: #fff;
	border: 1px solid #67707e;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 2px;
	transition: .3s;
}

.ae-notice .ae-notice-content a:hover {
    background-color: #fff5ed;
    color: #67707e;
    border-color: #e8cab2;
}

.ae-notice.ae-review-notice .ae-notice-content a {
    background-color: #fec107;
    border-color: #fec107;
}

.ae-notice.ae-review-notice .ae-notice-content a:hover {
    background-color: #fffbee;
    color: #fec107;
    border-color: #e7dab0;
}

.ae-notice.ae-contest-notice .ae-notice-content a {
    background-color: #ff3d49;
    border-color: #ff3d49;
}

.ae-notice.ae-contest-notice .ae-notice-content a:hover {
    background-color: #fdebec;
    color: #ff3d49;
    border-color: #e8b2b5;
}

.ae-notice .ae-notice-content a.ae-notice-dismiss {
    background-color: #f4f4f5;
    color: #909399;
    border-color: #d3d4d6;
}

.ae-notice .ae-notice-content a.ae-notice-dismiss:hover {
    background-color: #909399;
    color: #fff;
    border-color: #909399;
}

.ae-notice .notice-dismiss {
    bottom: 0;
}

/* RTL */
body.rtl .ae-notice {
	padding-left: 0;
	padding-right: 50px;
}

body.rtl .ae-notice .ae-notice-icon {
    left: auto;
    right: 0;
}

/* Responsive */
@media (max-width: 560px) {
	.ae-notice {
		padding-left: 0;
	}

	body.rtl .ae-notice {
		padding-right: 0;
	}

	.ae-notice .ae-notice-icon,
	.ae-notice .notice-dismiss {
		display: none;
	}
}