<!-- wp:template-part {"slug":"header","theme":"aegis"} /-->

<!-- wp:group {"layout":{"inherit":false,"contentSize":""}} -->
<div class="wp-block-group">
  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"3em"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide" style="padding-top: 3em">
    <!-- wp:woocommerce/legacy-template {"template":"archive-product"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aegis"} /-->