<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-bottom:0">
        <!-- wp:woocommerce/store-notices /-->

        <!-- wp:post-title {"level":1,"align":"wide","fontSize":"extra-large"} /-->

        <!-- wp:post-content {"align":"wide"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:woocommerce/page-content-wrapper -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer","className":"site-footer"} /-->