<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main", "className":"site-content"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
    <article class="wp-block-group">
        <!-- wp:group {"tagName":"header","className":"entry-header","layout":{"type":"constrained"}} -->
        <header class="wp-block-group entry-header">
            <!-- wp:post-title {"level":1} /-->
        </header>
        <!-- /wp:group -->
    </article>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer","className":"site-footer"} /-->