<!-- wp:template-part {"slug":"header","theme":"aegis"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"30px","left":"30px","top":"var:preset|spacing|40"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-right:30px;padding-left:30px;">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group" style="padding-top: 0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_tag"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aegis"} /-->