# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Spelling

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typos_check:
    name: Typos Check
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Search for misspellings
        uses: crate-ci/typos@master
        with:
          config: .typos.toml
